@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-size: 14px;
  text-decoration: none;
}

* a:link {
  color: blue;
}

* a:hover {
  opacity: 0.3;
}

header ul.nav-list li {
  margin-bottom: 10px;
}

header ul.sns-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header ul.sns-icons li {
  margin-right: 10px;
  margin-bottom: 19px;
}

header ul.sns-icons li a img {
  width: 20px;
}

@media (min-width: 769px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
  }
  header div.mainImg {
    width: 77vw;
  }
  header div.mainImg img {
    width: 100%;
  }
  header nav.side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 5%;
    position: fixed;
    top: 0;
    right: 2%;
    width: 20vw;
  }
  header nav.side-nav > .logoAndBars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    position: relative;
    left: 2.9em;
  }
  header nav.side-nav > .logoAndBars > .nav-logo a img {
    width: 50%;
  }
  header nav.side-nav > .logoAndBars i {
    display: none;
  }
  header nav.side-nav > .slider {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 40px;
  }
  header nav.side-nav > .slider ul.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-bottom: 25px;
  }
  header nav.side-nav > .slider ul.nav-list li {
    padding-bottom: 5%;
  }
  header nav.side-nav > .slider ul.nav-list li a {
    color: #000;
  }
}

@media (max-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap;
            flex-flow: column-reverse wrap;
    width: 100vw;
  }
  header div.mainImg {
    padding-top: 70px;
  }
  header div.mainImg img {
    width: 100%;
  }
  header nav.side-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
  }
  header nav.side-nav .logoAndBars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav.side-nav .logoAndBars > div {
    margin: 15px 20px;
  }
  header nav.side-nav .logoAndBars > .nav-logo {
    padding: 5px;
  }
  header nav.side-nav .logoAndBars > .nav-logo a img {
    width: 50%;
    padding-top: 5%;
  }
  header nav.side-nav .logoAndBars > .bars {
    display: block;
    padding: 5px;
  }
  header nav.side-nav .logoAndBars > .bars i.fa-bars {
    display: block;
  }
  header nav.side-nav .logoAndBars > .bars i.fa-xmark {
    display: none;
    color: #000;
  }
  header nav.side-nav .logoAndBars > .bars > i {
    font-size: 1.5em;
  }
  header nav.side-nav .slider {
    display: none;
  }
  header nav.side-nav .slider ul.nav-list {
    padding: 10px 0 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  header nav.side-nav .slider ul.nav-list li {
    padding-bottom: 1%;
  }
  header nav.side-nav .slider ul.nav-list li a {
    color: #000;
  }
  header nav.side-nav .slider ul.sns-icons {
    padding: 25px 0 10px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  header nav.side-nav .slider ul.sns-icons li a img {
    width: 25px;
  }
}

@media (min-width: 769px) {
  main {
    width: 77vw;
  }
}

main * > img {
  display: inline-block;
}

main section.section01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.section01 .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  line-height: 1.9em;
  font-size: 1em;
  padding: 170px 0 30px;
  letter-spacing: 0.2em;
}

main section.section01 .text-box h2 {
  font-family: serif;
  letter-spacing: 0.1em;
  padding-bottom: 3em;
}

main section.section01 .text-box h2::first-letter {
  font-size: 1.5em;
}

main section.section01 .text-box p {
  font-weight: 100;
  font-family: 丸ゴシック;
}

main section.section01 .text-box {
  margin-bottom: 40px;
}

@media (min-width: 769px) {
  main section.section01 .text-box {
    width: 75%;
  }
}

@media (max-width: 768px) {
  main section.section01 .text-box {
    width: 75%;
  }
}

main section.section01 .img-box .grid-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

main section.section01 .img-box .grid-box > img {
  width: 33.3333%;
}

main section.section01 .img-box .big-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main section.section01 .img-box .big-box > img {
  width: 100%;
}

main section.section02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.section02 .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  line-height: 1.9em;
  font-size: 1em;
  padding: 170px 0 30px;
  letter-spacing: 0.2em;
}

main section.section02 .text-box h2 {
  font-family: serif;
  letter-spacing: 0.1em;
  padding-bottom: 3em;
}

main section.section02 .text-box h2::first-letter {
  font-size: 1.5em;
}

main section.section02 .text-box p {
  font-weight: 100;
  font-family: 丸ゴシック;
}

main section.section02 * > .logoText-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main section.section02 * > .logoText-set > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 769px) {
  main section.section02 * > .logoText-set > div {
    width: 35%;
    margin: 15px 10px;
  }
  main section.section02 * > .logoText-set > div > img {
    width: 100%;
  }
  main section.section02 * > .logoText-set > div > p {
    width: 100%;
    padding: 10px 0 60px 0;
  }
}

@media (max-width: 768px) {
  main section.section02 * > .logoText-set > div {
    width: 80%;
    margin-bottom: 15%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 3%;
  }
  main section.section02 * > .logoText-set > div > img {
    width: 40%;
  }
  main section.section02 * > .logoText-set > div > p {
    width: 50%;
  }
}

@media (max-width: 640px) {
  main section.section02 * > .logoText-set > div {
    width: 70%;
    margin-bottom: 15%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main section.section02 * > .logoText-set > div > img {
    width: 50%;
  }
  main section.section02 * > .logoText-set > div > p {
    width: 100%;
    padding-top: 30px;
  }
}

main section.section03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.section03 img {
  border-radius: 7px;
}

main section.section03 .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  line-height: 1.9em;
  font-size: 1em;
  padding: 170px 0 30px;
  letter-spacing: 0.2em;
}

main section.section03 .text-box h2 {
  font-family: serif;
  letter-spacing: 0.1em;
  padding-bottom: 3em;
}

main section.section03 .text-box h2::first-letter {
  font-size: 1.5em;
}

main section.section03 .text-box p {
  font-weight: 100;
  font-family: 丸ゴシック;
}

main section.section03 .text-box > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25%;
}

@media (min-width: 769px) {
  main section.section03 .text-box > div img {
    width: 40%;
    height: 40%;
  }
  main section.section03 .text-box > div p {
    height: 40%;
    width: 55%;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  main section.section03 .text-box > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.section03 .text-box > div > * {
    width: 95%;
  }
  main section.section03 .text-box > div img {
    height: 95%;
  }
  main section.section03 .text-box > div p {
    padding-top: 35px;
  }
}

main section.section04 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.section04 .text-box {
  letter-spacing: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.section04 .text-box h2 {
  padding-bottom: 3em;
  font-family: serif;
}

main section.section04 .text-box h2::first-letter {
  font-size: 1.5em;
}

main section.section04 .text-box > div.access {
  width: 77vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.section04 .text-box > div.access > * {
  display: inline-block;
}

main section.section04 .text-box > div.access table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  letter-spacing: .2em;
}

main section.section04 .text-box > div.access table tr {
  text-align: left;
}

@media (min-width: 769px) {
  main section.section04 .text-box > div.access table tr:first-child th {
    border-radius: 10px 0 0 0;
  }
  main section.section04 .text-box > div.access table tr:first-child td {
    border-radius: 0 10px 0 0;
  }
  main section.section04 .text-box > div.access table tr:last-child th {
    border-radius: 0 0 0 10px;
  }
  main section.section04 .text-box > div.access table tr:last-child td {
    border-radius: 0 0 10px 0;
  }
}

@media (max-width: 768px) {
  main section.section04 .text-box > div.access table tr:first-child th {
    border-radius: 10px 0 0 0;
  }
  main section.section04 .text-box > div.access table tr:first-child td {
    border-radius: 0 10px 0 0;
  }
  main section.section04 .text-box > div.access table tr:last-child th {
    border-radius: 0 0 0 10px;
  }
  main section.section04 .text-box > div.access table tr:last-child td {
    border-radius: 0 0 10px 0;
  }
}

@media (max-width: 640px) {
  main section.section04 .text-box > div.access table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding: 15px 30px;
    margin-bottom: 3px;
  }
  main section.section04 .text-box > div.access table tr:first-child {
    border-radius: 5px 5px 0 0;
  }
  main section.section04 .text-box > div.access table tr:last-child {
    border-radius: 0 0 5px 5px;
  }
}

@media (min-width: 769px) {
  main section.section04 .text-box > div.access table tr th, main section.section04 .text-box > div.access table tr td {
    padding: 25px 47px;
  }
}

@media (max-width: 768px) {
  main section.section04 .text-box > div.access table tr th, main section.section04 .text-box > div.access table tr td {
    padding: 20px 40px;
  }
}

@media (max-width: 640px) {
  main section.section04 .text-box > div.access table tr th, main section.section04 .text-box > div.access table tr td {
    padding: 0;
  }
}

main section.section04 .text-box > div.access table tr:nth-child(1), main section.section04 .text-box > div.access table tr:nth-child(3) {
  background-color: #f2f2f2;
}

main section.section04 .text-box > div.access table tr:nth-child(2), main section.section04 .text-box > div.access table tr:nth-child(4) {
  background-color: #e6e6e6;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10%;
}

@media (min-width: 769px) {
  footer {
    width: 77vw;
  }
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }
}
/*# sourceMappingURL=pf-site.css.map */
